/**********************************/
/************** BODY **************/
/**********************************/

body {
    background-image: url(../img/back-about.png);
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}


/**********************************/
/************** PAGE **************/
/**********************************/

.page-about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.illustration-home {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 16vh;
    text-align: center;
    margin-bottom: 90px;
}

.home-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-illustration-home {
    width: 60%;
}

.cadre-presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title-presentation {
    border: solid;
    border-color: white;
    border-width: 0.5px;
    width: 65vw;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.cadre-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-left: solid;
    border-right: solid;
    border-bottom: solid;
    border-color: white;
    border-width: 0.5px;
    width: 65vw;
    padding-top: 45px;
    padding-left: 15px;
    padding-right: 15px;
}

.img-laura {
    width: 25%;
    border-right: solid;
    border-color: white;
    border-width: 0.5px;
    margin-left: 30px;
    padding-right: 30px;
}

#txt-presentation {
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    padding-left: 30px;
}

.txt-link {
    color: white;
}

.formation {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}

.galerie-formation {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.formation-box {
    text-align: start;
    padding-left: 30px;
    padding-right: 30px;
}

.number {
    border: solid;
    border-color: white;
    border-width: 0.5px;
    width: 30px;
    height: 25px;
    padding: 5px;
    color: white;
    font-family: 'Gallient';
    font-size: 20px;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
}

.msg-box {
    border: solid;
    border-color: white;
    border-width: 0.5px;
    width: 800px;
    padding: 15px;
    text-align: center;
    margin-top: 75px;
}

.like {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}

.boutons-like {
    display: flex;
    flex-direction: row;
}

.bouton-like {
    background-color: rgba(255, 255, 255, 0.1);
    border: solid;
    border-color: white;
    border-width: 0.5px;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 0.9vw;
    text-decoration: none;
    margin-bottom: 50px;
}

.like-lecture {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mangas-galerie {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 750px;
    justify-content: center;
}

.img-manga {
    width: 15%;
    border: solid;
    border-color: white;
    border-width:0.5px;
    margin: 5px;
}

.like-voyage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.voyage-txt {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    opacity: 0.5;
    margin-bottom: 5px;
}

.voyage-galerie {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 900px;
}

.img-voyage {
    width: 22%;
    border: solid;
    border-color: white;
    border-width: 0.5px;
    margin: 10px;
}

.like-musique {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.music-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.music-number {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.music-sentence {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 14px;
    opacity: 0.8;
}

.music-galerie {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.img-singers {
    width: 10%;
    margin-left: 10px;
    margin-right: 10px;
    border: solid;
    border-color: white;
    border-width: 0.5px;
}

.bas-de-page {
    height: 90px;
}

/**********************************/
/************* HOVER **************/
/**********************************/

.txt-link:hover {
    opacity: 0.8;
}

.bouton-like:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
    transition: 0.2s;
    scale: 1.02;
}