/**********************************/
/************** BODY **************/
/**********************************/

body {
    background-image: url(../img/back-about.png);
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}


/**********************************/
/************** PAGE **************/
/**********************************/

.page-about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.illustration-home {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 16vh;
    text-align: center;
    margin-bottom: 90px;
}

.home-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-illustration-home {
    width: 60%;
}

.cadre-presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title-presentation {
    border: solid;
    border-color: white;
    border-width: 0.5px;
    width: 65vw;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.cadre-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-left: solid;
    border-right: solid;
    border-bottom: solid;
    border-color: white;
    border-width: 0.5px;
    width: 65vw;
    padding-top: 45px;
    padding-left: 15px;
    padding-right: 15px;
}

.img-laura {
    width: 25%;
    border-right: solid;
    border-color: white;
    border-width: 0.5px;
    margin-left: 30px;
    padding-right: 30px;
}

#txt-presentation {
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    padding-left: 30px;
}

.txt-link {
    color: white;
}

.formation {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}

.galerie-formation {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.formation-box {
    text-align: start;
    padding-left: 30px;
    padding-right: 30px;
}

.number {
    border: solid;
    border-color: white;
    border-width: 0.5px;
    width: 30px;
    height: 25px;
    padding: 5px;
    color: white;
    font-family: 'Gallient';
    font-size: 20px;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
}

.msg-box {
    border: solid;
    border-color: white;
    border-width: 0.5px;
    width: 800px;
    padding: 15px;
    text-align: center;
    margin-top: 75px;
}

.like {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}


/**********************************/
/************* HOVER **************/
/**********************************/

.txt-link:hover {
    opacity: 0.8;
}