/**********************************/
/************** FONTS *************/
/**********************************/

@font-face {
    font-family: 'Gallient';
    src: url(../fonts/Gallient.ttf);
}

.txt-menu-clic {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.title-page {
    color: white;
    font-family: 'Gallient';
    font-size: 64px;
}

.title {
    color: white;
    font-family: 'Gallient';
    font-size: 36px;
}

.txt-light {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}

.txt-regular {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.sub-title {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 20px;
}

.txt-collab {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 12px;
    margin-top: 5px;
    opacity: 0.8;
}

h2 {
    color: white;
    opacity: 0.6;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 5px;
}

h3 {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 16px;
}

h4 {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 12px;
}

p {
    color: #CDCDCD;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 12px;
}


/**********************************/
/*********** RESPONSIVE ***********/
/**********************************/

/*--- IPAD PRO 12,9po ---*/
@media screen and (max-width: 1366px) {

    .title-page {
        font-size: 48px;
    }

    .title {
        font-size: 32px;
    }

}

/*--- IPAD PRO 10,5po ---*/
@media screen and (max-width: 1112px) {

    .title-page {
        font-size: 40px;
    }

    .title {
        font-size: 28px;
    }

    .txt-regular {
        font-size: 12px;
    }

}

/*--- IPAD 9,7po ---*/
@media screen and (max-width: 1024px) {

    .title-page {
        font-size: 36px;
    }

    .title {
        font-size: 24px;
    }

}

/*--- SAFARI BABY ---*/
@media screen and (max-width: 800px) {

    .txt-regular {
        font-size: 10px;
    }

}