/**********************************/
/************** FONTS *************/
/**********************************/

@font-face {
    font-family: 'Gallient';
    src: url(../fonts/Gallient.ttf);
}

.txt-menu-clic {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.title-page {
    color: white;
    font-family: 'Gallient';
    font-size: 3.2vw;
}

.title {
    color: white;
    font-family: 'Gallient';
    font-size: 2vw;
}

.txt-light {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}

.txt-regular {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 0.9vw;
}

h3 {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 16px;
}

h4 {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 12px;
}

p {
    color: #CDCDCD;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 12px;
}


/**********************************/
/*********** RESPONSIVE ***********/
/**********************************/

/*--- IPAD PRO 12,9po ---*/
@media screen and (max-width: 1366px) {

    .title-page {
        font-size: 48px;
    }

    .title {
        font-size: 32px;
    }

}