/**********************************/
/************** BODY **************/
/**********************************/

body {
    background-color: black;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
    background-position: center;
    box-sizing: border-box;
}


/**********************************/
/************** PAGE **************/
/**********************************/

.gallery {
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
}

.gallery-lign {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.gallery-column {
    display: flex;
    flex-direction: column;
}

.gallery-box {
    flex-grow: 1;
    position: relative;
}

.img-gallery-box {
    width: 100%;
}

.txt-gallery-hover {
    position: absolute;
    text-align: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.705);
    padding: 50px;
    padding-top: 200px;
    opacity: 0;
}

.margin-right-15 {
    margin-right: 15px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

/**********************************/
/************* HOVER **************/
/**********************************/

.txt-gallery-hover:hover {
    opacity: 1;
    transition: 0.3s;
}


/**********************************/
/*********** RESPONSIVE ***********/
/**********************************/

/*--- IPAD PRO 10,5po ---*/
@media screen and (max-width: 1112px) {


}

/*--- SAFARI BABY ---*/
@media screen and (max-width: 800px) {

}