/**********************************/
/************** BODY **************/
/**********************************/

body {
    background-color: black;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
    background-position: center;
    box-sizing: border-box;
}


/**********************************/
/************** PAGE **************/
/**********************************/




/**********************************/
/************* HOVER **************/
/**********************************/




/**********************************/
/*********** RESPONSIVE ***********/
/**********************************/

/*--- IPAD PRO 10,5po ---*/
@media screen and (max-width: 1112px) {


}

/*--- SAFARI BABY ---*/
@media screen and (max-width: 800px) {

}