/**********************************/
/************** BODY **************/
/**********************************/

body {
    background-color: black;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
    background-position: center;
    box-sizing: border-box;
}


/**********************************/
/************** PAGE **************/
/**********************************/

.gallery {
    display: flex;
    flex-direction: column;
    width: 1300px;
    margin-left: 100px;
    margin-top: 50px;
}

.gallery-box {
    display: flex;
    flex-direction: row;
}

.gallery-inter-box {
    display: flex;
    flex-direction: column;
}


/**********************************/
/************* HOVER **************/
/**********************************/




/**********************************/
/*********** RESPONSIVE ***********/
/**********************************/

/*--- IPAD PRO 10,5po ---*/
@media screen and (max-width: 1112px) {


}

/*--- SAFARI BABY ---*/
@media screen and (max-width: 800px) {

}