/**********************************/
/************** BODY **************/
/**********************************/

body {
    background-image: url(../img/background.png);
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}


/**********************************/
/************** PAGE **************/
/**********************************/

.page-projet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.en-tête {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 15vh;
    margin-bottom: 7vh;
}

.title-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title-page-projet {
    margin-left: 20px;
    margin-right: 20px;
}

.lign-head {
    background-color: white;
    width: 150px;
    height: 0.5px;
    padding-left: 20px;
}

.page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-projet {
    border: solid;
    border-color: white;
    border-width: 0.5px;
    margin-top: 30px;
}

.boutons {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.bas-de-page {
    height: 90px;
}

.bouton-plus {
    margin-bottom: 50px;
}

/**********************************/
/************* IMAGES *************/
/**********************************/

#img-projet-green {
    width: 40%;
}

#img-projet-bureau {
    width: 60%;
}

#img-projet-californie {
    width: 40%;
}

#img-projet-baroque-1 {
    width: 40%;
}

#img-projet-baroque-2 {
    width: 40%;
}

#img-projet-pokemon-1 {
    width: 70%;
}

#img-projet-pokemon-2 {
    width: 70%;
}

#img-projet-correlations {
    width: 60%;
}

#img-projet-jap {
    width: 70%;
}

#img-projet-mute {
    width: 40%;
}

#img-projet-flowers-1 {
    width: 60%;
    margin-bottom: 50px;
}

#img-projet-flowers-2 {
    width: 60%;
    margin-bottom: 50px;
}

#img-projet-flowers-3 {
    width: 60%;
}

#img-projet-urbanweek {
    width: 70%;
}

#img-projet-proliferation-photos {
    width: 50%;
    margin-bottom: 50px;
}

#img-projet-proliferation-colors {
    width: 50%;
    margin-bottom: 50px;
}

.img-proliferation-galerie {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

#img-projet-proliferation-texture-1 {
    width: 15%;
    margin: 10px;
}

#img-projet-proliferation-texture-2 {
    width: 15%;
    margin: 10px;
}

#img-projet-proliferation-texture-3 {
    width: 15%;
    margin: 10px;
}

#img-projet-proliferation-texture-4 {
    width: 15%;
    margin: 10px;
}

#img-projet-stickers-1 {
    width: 35%;
}

#img-projet-stickers-2 {
    width: 35%;
}

#img-projet-stickers-3 {
    width: 35%;
}

#img-projet-stickers-4 {
    width: 35%;
}

#img-projet-stickers-5 {
    width: 35%;
}