/**********************************/
/************** BODY **************/
/**********************************/

body {
    background-image: url(../img/back-projets.png);
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}