/**********************************/
/************** BODY **************/
/**********************************/

body {
    background-image: url(../img/back-projets.png);
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}


/**********************************/
/************** PAGE **************/
/**********************************/

.page-projets {
    display: flex;
    justify-content: center;
    margin-top: 45vh;
}